/****** Object:  StoredProcedure [dbo].[sp_select_INR00005]    Script Date: 09/29/2017 15:29:09 ******/
DROP PROCEDURE [dbo].[sp_select_INR00005]
GO
/****** Object:  StoredProcedure [dbo].[sp_select_INR00005]    Script Date: 09/29/2017 15:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO










--drop PROCEDURE [sp_select_INR00005]

-- Checked by Allan Yuen at 27/03/2003


/*
=========================================================
Program ID	: sp_select_INR00005
Description   	: CBM Ordered Report 
Programmer  	: Allan Yuen
Create Date   	: 2002-02-13
Last Modified  	: 
Table Read(s) 	:
Table Write(s) 	:
=========================================================
 Modification History                                    
=========================================================
 Date      		Initial  		Description                          
=========================================================    
24/02/2003 	Allan Yuen   	Change 	E (利興)	0005 + subcode = 'HE' or subcode = 'HEC' to
					Q(香港華裕) 0009	
03/09/2003 	Allan Yuen		Add Vendor 'Q' into UCPP
10/10/2003 	Allan Yuen		Add UCP to cater A to Z vendor
09/02/2003 	Allan Yuen		Delete Vendor  (M - 嘉德), still store in @FName_L for future use.
15th Feb 2005 	Lester Wu		Show data of factory 'S' instead of factory 'U', and
				rearrange the factory order
17th Feb 2005 	Lester Wu		Round up the resulting data to the nearest digit
				** There may have variant when comparing the resulting data to the INR00004 (Production Capacity in CBM)
				** User (Anita Leung) was been adviced about that and confirm to reoud up the data
29th Mar 2005 	Lester Wu		replace ALL wtih UC-G
				exclude 'MS' from UC-G
30th Jun 2005	Lester Wu		Re-arrange the order				
*/
--sp_select_INR00005 'MS','ALL','0002,K','','','','','','03/01/2005','03/31/2005'
--sp_select_INR00005 'MS','0002,K','ALL Vendors','','','0','','','03/01/2005','03/31/2005 11:59:59 PM'

--sp_select_INR00005 'UCPP','ALL','ALL Vendors','','','0','','','03/01/2005','04/30/2005 11:59:59 PM'

CREATE PROCEDURE [dbo].[sp_select_INR00005]
	@cocde		nvarchar(6),
	@vendor		varchar(6000),
	@Vendor_label	nvarchar(255),
	@SCFm		nvarchar(40),
	@SCTo		nvarchar(40),
	@CatL		nvarchar(1),
	@CatFm		nvarchar(20),
	@CatTo		nvarchar(20),
	@dateFm		datetime,
	@dateTo		datetime
As 


/*

drop table 	#tmp_INR00005
drop table  #TmpReport

declare
	@cocde		nvarchar(6),
	@vendor		nvarchar(255),
	@Vendor_label	nvarchar(255),
	@SCFm		nvarchar(40),
	@SCTo		nvarchar(40),
	@CatL		nvarchar(1),
	@CatFm		nvarchar(20),
	@CatTo		nvarchar(20),
	@dateFm		datetime,
	@dateTo		datetime


set	@cocde		= 'UCPP'
set	@vendor		= 'A,B,C,D,E,F,G,H,J,K,L,M,N,P,T,U,Z'

--set	@cocde		= 'UCP'
--set	@vendor		= '0005,0007,0006'
set	@Vendor_label	= 'ALL Vendors'
set	@SCFm		= ''
set	@SCTo		= ''
set	@CatL		= '0'
set 	@CatFm		= ''
set	@CatTo		= ''
set	@dateFm		= '12/01/2002'
set	@dateTo		= '05/31/2003 23:59:59'

*/

create table #TmpReport (
	Cocde nvarchar(6),
	vendor nvarchar(255),
	Vendor_label nvarchar(255),
	SCFm nvarchar(40),
	SCTo nvarchar(40),
	sdatefm datetime,
	sdateto datetime,
	dateFm datetime,
	dateTo datetime,
	Factory_A numeric (11,4) DEFAULT 0,	--A	華泰			0005 or 0005 + subcode = 'WT'
	Factory_B numeric (11,4) DEFAULT 0,	--B	華泰聖誕			0005 + subcode = 'WTX'
	Factory_C numeric (11,4) DEFAULT 0,	--C	華裕			0005 + subcode = 'WY'
	Factory_D numeric (11,4) DEFAULT 0,	--D	華裕盆景			0005 + subcode = '0007'
	Factory_E numeric (11,4) DEFAULT 0,	--E	利興			0005 + subcode = 'HE' or subcode = 'HEC'
	Factory_F numeric (11,4) DEFAULT 0,	--F	福州			0005 + subcode = 'FC'
	Factory_G numeric (11,4) DEFAULT 0,	--G	聯輝			0005 + subcode = 'UGIL'
	Factory_H numeric (11,4) DEFAULT 0,	--H	北都 / 華佑		0006 or 0005 + 'HY'
	Factory_I numeric (11,4) DEFAULT 0,	--
	Factory_J numeric (11,4) DEFAULT 0,	--J	智軒			0005 + subcode = 'WM'
	Factory_K numeric (11,4) DEFAULT 0,	--K	華碧			0005 + subcode = 'WB'
	Factory_L numeric (11,4) DEFAULT 0,	--L	華泰(龍煒)		0005 + subcode = LW'
	Factory_M numeric (11,4) DEFAULT 0,	--M	嘉德	
	Factory_N numeric (11,4) DEFAULT 0,	--N	HARRIS
	Factory_O numeric (11,4) DEFAULT 0,	--
	Factory_P numeric (11,4) DEFAULT 0,	--P	UCPP
	Factory_Q numeric (11,4) DEFAULT 0,	--Q	香港華裕			0009
	Factory_R numeric (11,4) DEFAULT 0,	--R	富泰
	Factory_S numeric (11,4) DEFAULT 0,	--S	樂豐
	Factory_T numeric (11,4) DEFAULT 0,	--T	華建 / 通藝		0005 + subcode = 'TY'
	Factory_U numeric (11,4) DEFAULT 0,	--U	五金廠
	Factory_V numeric (11,4) DEFAULT 0,	--
	Factory_W numeric (11,4) DEFAULT 0,	--
	Factory_X numeric (11,4) DEFAULT 0,	--
	Factory_Y numeric (11,4) DEFAULT 0,	--
	Factory_Z numeric (11,4) DEFAULT 0,	--Z	Inventory
	
	)


create table 	#tmp_INR00005 (
	tmp_venno nvarchar(6), 
	tmp_venname nvarchar(20) null
	) 

Declare	
	@vendor_part	nvarchar(10),
	@vendor_remain	nvarchar(255),
	@TmpDate1 	datetime,	-- 2002/12/10 Allan
	@TmpDate2 	datetime,	-- 2002/12/10 Allan
	@Factory_Code	nvarchar(6), --  2002/12/10 Allan
	@Factory_Name	nvarchar(20), --  2002/12/10 Allan
	@CBM		numeric (11,4), --  2002/12/10 Allan
	@Dummy		char(1), --  2002/12/10 Allan
	@Dummy1	char(1), --  2002/12/10 Allan
	@FName_A	nvarchar(20), --  2002/12/10 Allan
	@FName_B	nvarchar(20), --  2002/12/10 Allan
	@FName_C	nvarchar(20), --  2002/12/10 Allan
	@FName_D	nvarchar(20), --  2002/12/10 Allan
	@FName_E	nvarchar(20), --  2002/12/10 Allan
	@FName_F	nvarchar(20), --  2002/12/10 Allan
	@FName_G	nvarchar(20), --  2002/12/10 Allan
	@FName_H	nvarchar(20), --  2002/12/10 Allan
	@FName_I	nvarchar(20), --  2002/12/10 Allan
	@FName_J	nvarchar(20), --  2002/12/10 Allan
	@FName_K	nvarchar(20), --  2002/12/10 Allan
	@FName_L	nvarchar(20), --  2002/12/10 Allan
	@FName_M	nvarchar(20), --  2002/12/10 Allan
	@FName_N	nvarchar(20), --  2002/12/10 Allan
	@FName_O	nvarchar(20), --  2002/12/10 Allan
	@FName_P	nvarchar(20), --  2002/12/10 Allan
	@FName_Q	nvarchar(20), --  2002/12/10 Allan
	@FName_R	nvarchar(20),  --  2005/04/18 Lester Wu	
	@FName_S	nvarchar(20), --   
	@FName_T	nvarchar(20), --   
	@FName_U	nvarchar(20), --   
	@FName_V	nvarchar(20), --   
	@FName_W	nvarchar(20), --   
	@FName_X	nvarchar(20),  -- 
	@FName_Y	nvarchar(20), -- 
	@FName_Z	nvarchar(20),  -- 
	@sod_venno	nvarchar(20), --  2002/12/10 Allan
	@sod_subcde	nvarchar(20) --  2002/12/10 Allan
	

--Lester Wu 2005-03-29 retrieve company name from database instead of hardcode
declare @compName varchar(100)
set @compName = 'UNITED CHINESE GROUP'
if @cocde<>'UC-G'
begin
	select @compName = yco_conam from sycominf where yco_cocde=@cocde
end


	-- 2002/12/10 Allan --
	-- Assign Variable --
	set  @TmpDate1 = @dateFm - 7
	set  @TmpDate2 = @dateFm - 7
	--2005/02/15 Use factory 'S' instead of 'Z'
/*	if @cocde = 'UCP' set @vendor = '0005,0007,0006,0009,A,B,C,D,E,F,G,H,J,K,L,M,N,P,Q,T,U,Z'
	if @cocde = 'UCPP' set @vendor = 'A,B,C,D,E,F,G,H,J,K,L,M,N,P,Q,T,U,Z'
	if @cocde = 'PG' set @vendor = '0005,0007,0006,0009,A,B,C,D,E,F,G,H,J,K,L,M,N,P,Q,T,U,Z'
	--- Cater all company
	if @cocde = 'ALL' set @vendor = '0005,0007,0006,0009,A,B,C,D,E,F,G,H,J,K,L,M,N,P,Q,T,U,Z'
	--------------------------
*/
	--Lester Wu 2005/04/18, add factory R - 富泰
	if @cocde = 'UCP' set @vendor = '0005,0006,0007,,0009,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z'
	if @cocde = 'UCPP' set @vendor = 'A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z'
	if @cocde = 'PG' set @vendor = '0005,0006,0007,0009,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z'
	--- Cater all company
	--Lester Wu 2005-03-29, replace ALL with UC-G and add a line for MS company
	--if @cocde = 'ALL' set @vendor = '0005,0007,0006,0009,A,B,C,D,E,F,G,H,J,K,L,M,N,P,Q,T,S,Z'
	if @cocde = 'UC-G' set @vendor = '0005,0006,0007,0009,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z'
	if @cocde = 'MS' set @vendor = '0002,K'
	if @cocde = 'EW' set @vendor = '0005,0006,0007,0009,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z'
	--

	Set @vendor_remain = @vendor
	
	While charindex(',', @vendor_remain) <> 0
	begin
		Set @vendor_part = ltrim(left(@vendor_remain, charindex(',',@vendor_remain) - 1))
		Set @vendor_remain = right(@vendor_remain, len(@vendor_remain) - charindex(',', @vendor_remain))
		insert into #tmp_INR00005 (tmp_venno ) values (@vendor_part)
	end
	insert into #tmp_INR00005 (tmp_venno ) values (ltrim(@vendor_remain))


	update #tmp_INR00005  set tmp_venname  = VNBASINF.vbi_vensna
	from VNBASINF (nolock)
	where #tmp_INR00005.tmp_venno = VNBASINF.vbi_venno


	
	--select * from #tmp_INR00005 
	
	Declare 
		@SCFmC	nvarchar(4),
		@SCToC	nvarchar(4)
	
	set @SCFmC  = ''
	set @SCToC  = ''
	
	If @SCFm <> ''
	    begin
		Set @SCFmC = left(@SCFm, charindex(' - ', @SCFm))
	    end
	
	If @SCTo <> ''
	    begin
		Set @SCToC = left(@SCTo, charindex(' - ', @SCTo) )
	    end
	
	declare @CURAT	numeric(15,11)
	
	select 
		@CURAT = isnull(ysi_selrat,0) 
	from 
		SYSETINF 
	where 
		--ysi_cocde = @cocde and 
		ysi_cde= 'HKD'
	
	
	DECLARE Factory_cursor CURSOR FOR 
		select  
			tmp_venno,
			tmp_venname
		from 
			#tmp_INR00005 
		order by
			tmp_venno  
	
	set @Dummy = '1'
	OPEN Factory_cursor 
	
	FETCH NEXT FROM Factory_cursor INTO @Factory_Code, @Factory_Name
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		-- Assign Variable --
		set  @TmpDate1 = @dateFm - 7
		set  @TmpDate2 = @dateFm - 7
		while  convert(varchar(10),@dateTo ,111) > convert(varchar(10),@TmpDate2,111)  
			begin
				set @TMPDATE1 = DATEADD ( DAY , 7, @TMPDATE1 )        
				set @TMPDATE2 = DATEADD ( DAY , 6, @TMPDATE1 )  
				if convert(varchar(10),@TmpDate2,111)  > convert(varchar(10),@dateTo,111)   
				    set @TMPDATE2   = @dateTo

				-- Add Dummy Record
				select @dummy1 = '1'  from #TmpReport  where datefm = @TmpDate1 and dateTo = @TmpDate2
				if @@rowcount = 0 
				      begin 
					insert into 

						#TmpReport 
						(Cocde, vendor, Vendor_label, SCFm, SCTo, dateFm, dateTo, sdatefm ,sdateto)
					Values 
						(@Cocde, @vendor, replace(replace(@vendor_label, '(', '/'),')', '/'), @SCFm, @SCTo, @TmpDate1, @TmpDate2, @datefm, @dateto)
				      end

				--------------------------
				if  @cocde	= 'UCPP'		
				      BEGIN
					Select	
						@CBM = ISNULL(sum( isnull(sod_cbm * sod_ttlctn, 0) ),0),
						@sod_venno = scorddtl.sod_venno,
						@sod_subcde = scorddtl.sod_subcde
					From	
						SCORDDTL, 
						--IMBASINF, 
						v_imbasinf_rpt,
						#tmp_INR00005
					Where	
						
						--sod_cocde = ibi_cocde and sod_itmno = ibi_itmno
						sod_itmno = ibi_itmno
					and	sod_cocde= @cocde  and sod_venno = tmp_venno
--					and 	sod_shpstr between convert(datetime,   @TMPDATE1, 121) and convert(datetime,  @TMPDATE2, 121) 
--					and 	sod_shpstr >=  convert(datetime,   @TMPDATE1, 121) 
--					and sod_shpstr <= convert(datetime,  @TMPDATE2, 121) 
					and	CONVERT(VARCHAR(10),sod_shpstr ,121) >=  CONVERT(VARCHAR(10),@TMPDATE1,121)
					and	CONVERT(VARCHAR(10),sod_shpstr ,121) <=  CONVERT(VARCHAR(10),@TMPDATE2,121)
		
					and 	((@SCTo <> '' and  sod_subcde Between @SCFmC and @SCToC ) or @SCTo = '')
					and	((@CatFm <> '' and ibi_catlvl0 between @CatFm and @CatTo and @CatL = '0') or
						(@CatFm <> '' and ibi_catlvl1 between @CatFm and @CatTo and @CatL = '1') or
						(@CatFm <> '' and ibi_catlvl2 between @CatFm and @CatTo and @CatL = '2') or
						(@CatFm <> '' and ibi_catlvl3 between @CatFm and @CatTo and @CatL = '3') or
						(@CatFm <> '' and ibi_catlvl4 between @CatFm and @CatTo and @CatL = '4') or @CatFm = '')
					and 	tmp_venno = @Factory_Code
					group by
						scorddtl.sod_venno,
						scorddtl.sod_subcde
		--			group by 			
		--				tmp_venno
		--			order by 
		--				tmp_venno

					if @Factory_Code = 'A'
						begin
					     		update #TmpReport set Factory_A = Factory_A + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_A = @Factory_Name
						end
					      else if @Factory_Code = 'B'
						begin
					     		update #TmpReport set Factory_B = Factory_B  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_B = @Factory_Name
						end
					      else if @Factory_Code = 'C'
						begin
						     	update #TmpReport set Factory_C = Factory_C  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_C = @Factory_Name
						end
					      else if @Factory_Code = 'D'
						begin
						     	update #TmpReport set Factory_D = Factory_D  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_D = @Factory_Name					
						end
--					      else if @Factory_Code = 'E'
--						begin
--						     	update #TmpReport set Factory_E = Factory_E  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
--							set @FName_E = @Factory_Name
--						end
					      else if @Factory_Code = 'E'
						begin
						     	update #TmpReport set Factory_E = Factory_E  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_E = @Factory_Name
						end
					      else if @Factory_Code = 'F'
						begin
						     	update #TmpReport set Factory_F = Factory_F  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_F = @Factory_Name
						end	
					      else if @Factory_Code = 'G'
						begin
						     	update #TmpReport set Factory_G = Factory_G  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_G = @Factory_Name
						end
					      else if @Factory_Code = 'H'
						begin
						     	update #TmpReport set Factory_H = Factory_H  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_H = @Factory_Name
						end
					    else if @Factory_Code = 'I'
						begin
						     	update #TmpReport set Factory_I = Factory_I  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_I = @Factory_Name

						end
					      else if @Factory_Code = 'J'
						begin
						     	update #TmpReport set Factory_J = Factory_J  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_J = @Factory_Name

						end
					      else if @Factory_Code = 'K'
						begin
						     	update #TmpReport set Factory_K = Factory_K  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_K = @Factory_Name
						end
					      else if @Factory_Code = 'L'
						begin
						     	update #TmpReport set Factory_L = Factory_L  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_L = @Factory_Name					
						end
					      else if @Factory_Code = 'M' 
						begin
						     	update #TmpReport set Factory_M = Factory_M  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_M = @Factory_Name					
						end
					      else if @Factory_Code = 'N' 
						begin
						     	update #TmpReport set Factory_N = Factory_N  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_N = @Factory_Name					
						end				
					      else if @Factory_Code = 'O' 
						begin
						     	update #TmpReport set Factory_O = Factory_O  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_O = @Factory_Name					
						end
					      else if @Factory_Code = 'P'
						begin
						     	update #TmpReport set Factory_P = Factory_P + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_P = @Factory_Name					
						end
					       else if @Factory_Code = 'Q'
						begin
						     	update #TmpReport set Factory_Q = Factory_Q + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_Q = @Factory_Name					
						end
					       else if @Factory_Code = 'R'
						begin
						     	update #TmpReport set Factory_R = Factory_R + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_R = @Factory_Name					
						end
					      else if @Factory_Code = 'S' 
						begin
						     	update #TmpReport set Factory_S = Factory_S + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_S = @Factory_Name					
						end
					     else if @Factory_Code = 'T' 
						begin
						     	update #TmpReport set Factory_T = Factory_T + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_T= @Factory_Name					
						end
					     else if @Factory_Code = 'U' 
						begin
						     	update #TmpReport set Factory_U = Factory_U + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_U = @Factory_Name					
						end
					      else if @Factory_Code = 'V'
						begin
						     	update #TmpReport set Factory_V = Factory_V + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_V = @Factory_Name					
						end
					     else if @Factory_Code = 'W' 
						begin
						     	update #TmpReport set Factory_W = Factory_W + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_W = @Factory_Name					
						end
					     else if @Factory_Code = 'X' 
						begin
						     	update #TmpReport set Factory_X = Factory_X + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_X = @Factory_Name					
						end
					     else if @Factory_Code = 'Y' 
						begin
						     	update #TmpReport set Factory_Y = Factory_Y + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_Y= @Factory_Name					
						end
					     else if @Factory_Code = 'Z' 
						begin
						     	update #TmpReport set Factory_Z = Factory_Z + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							set @FName_Z = @Factory_Name					
						end
					end
				else
				      begin
					--Lester Wu 2005-03-29, add 'MS' company
--					if  @cocde = 'UCP' or @cocde = 'PG' 
					if  @cocde = 'UCP' or @cocde = 'PG'  or @cocde = 'MS' or @cocde = 'EW'
						DECLARE  Report_Loop CURSOR FOR 
							Select	
								 isnull(sod_cbm * sod_ttlctn, 0),
								scorddtl.sod_venno,
								scorddtl.sod_subcde
							From	
								SCORDDTL, 
	--							IMBASINF, 
								v_imbasinf_rpt,
								#tmp_INR00005
							Where								
								--sod_cocde = ibi_cocde and sod_itmno = ibi_itmno
								sod_itmno = ibi_itmno
							and	sod_cocde= @cocde  and sod_venno = tmp_venno
	--						and 	sod_shpstr between convert(datetime,   @TMPDATE1, 121) and convert(datetime,  @TMPDATE2, 121) 
--							and 	sod_shpstr >= convert(datetime,   @TMPDATE1, 121) and sod_shpstr  <= convert(datetime,  @TMPDATE2, 121) 
							and	CONVERT(VARCHAR(10),sod_shpstr ,121) >=  CONVERT(VARCHAR(10),@TMPDATE1,121)
							and	CONVERT(VARCHAR(10),sod_shpstr ,121) <=  CONVERT(VARCHAR(10),@TMPDATE2,121)
				
							and 	((@SCTo <> '' and  sod_subcde Between @SCFmC and @SCToC ) or @SCTo = '')
							and	((@CatFm <> '' and ibi_catlvl0 between @CatFm and @CatTo and @CatL = '0') or
								(@CatFm <> '' and ibi_catlvl1 between @CatFm and @CatTo and @CatL = '1') or
								(@CatFm <> '' and ibi_catlvl2 between @CatFm and @CatTo and @CatL = '2') or
								(@CatFm <> '' and ibi_catlvl3 between @CatFm and @CatTo and @CatL = '3') or
								(@CatFm <> '' and ibi_catlvl4 between @CatFm and @CatTo and @CatL = '4') or @CatFm = '')
							and 	tmp_venno = @Factory_Code
					else
							DECLARE  Report_Loop CURSOR FOR 
							Select	
								 isnull(sod_cbm * sod_ttlctn, 0),
								scorddtl.sod_venno,
								scorddtl.sod_subcde
							From	
								SCORDDTL, 
	--							IMBASINF, 
								v_imbasinf_rpt,
								#tmp_INR00005
							Where								
								--sod_cocde = ibi_cocde and sod_itmno = ibi_itmno
								sod_itmno = ibi_itmno
--							and	sod_cocde= @cocde  
						--Lester Wu 2005-03-29, exclude MS company from UC-G
						   	and sod_cocde <> 'MS'
						--
							and sod_venno = tmp_venno
	--						and 	sod_shpstr between convert(datetime,   @TMPDATE1, 121) and convert(datetime,  @TMPDATE2, 121) 
--							and 	sod_shpstr >= convert(datetime,   @TMPDATE1, 121) and sod_shpstr  <= convert(datetime,  @TMPDATE2, 121) 
							and	CONVERT(VARCHAR(10),sod_shpstr ,121) >=  CONVERT(VARCHAR(10),@TMPDATE1,121)
							and	CONVERT(VARCHAR(10),sod_shpstr ,121) <=  CONVERT(VARCHAR(10),@TMPDATE2,121)
				
							and 	((@SCTo <> '' and  sod_subcde Between @SCFmC and @SCToC ) or @SCTo = '')
							and	((@CatFm <> '' and ibi_catlvl0 between @CatFm and @CatTo and @CatL = '0') or
								(@CatFm <> '' and ibi_catlvl1 between @CatFm and @CatTo and @CatL = '1') or
								(@CatFm <> '' and ibi_catlvl2 between @CatFm and @CatTo and @CatL = '2') or
								(@CatFm <> '' and ibi_catlvl3 between @CatFm and @CatTo and @CatL = '3') or
								(@CatFm <> '' and ibi_catlvl4 between @CatFm and @CatTo and @CatL = '4') or @CatFm = '')
							and 	tmp_venno = @Factory_Code

					OPEN Report_Loop	
					FETCH NEXT FROM Report_Loop INTO @CBM, @sod_venno, @sod_subcde

					WHILE @@FETCH_STATUS = 0
					BEGIN
						     --Lester Wu 2005-03-29, update data of MS Company, factory 0002 and K only
						     ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						      if @cocde = 'MS' and @sod_venno = '0002'
							begin
						     		update #TmpReport set Factory_A = Factory_A + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if @cocde = 'MS' and @sod_venno = 'K'
							begin
						     		update #TmpReport set Factory_B = Factory_B  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
						     else if (@sod_venno = '0005' and @sod_subcde = 'WT')  or (@sod_venno = '0005'  and rtrim(ltrim(@sod_subcde)) = '')  or @sod_venno = 'A'
							begin
						     		update #TmpReport set Factory_A = Factory_A + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if (@sod_venno = '0005' and @sod_subcde = 'WTX') or @sod_venno = 'B'
							begin
						     		update #TmpReport set Factory_B = Factory_B  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if (@sod_venno = '0005' and @sod_subcde = 'WY') or @sod_venno = 'C'
							begin
							     	update #TmpReport set Factory_C = Factory_C  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if (@sod_venno = '0007'  and ltrim(rtrim(@sod_subcde)) = '') or @sod_venno = 'D'
							begin
							     	update #TmpReport set Factory_D = Factory_D  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if (@sod_venno = '0005' and @sod_subcde = 'HE') or (@sod_venno = '0005' and @sod_subcde = 'HEC') or (@sod_venno = 'E')
							begin
							     	update #TmpReport set Factory_E = Factory_E  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if (@sod_venno = '0005' and @sod_subcde = 'FC') OR @sod_venno = 'F'
							begin
							     	update #TmpReport set Factory_F = Factory_F  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end	
						      else if (@sod_venno = '0005' and @sod_subcde  = 'UGIL') OR @sod_venno = 'G'
							begin
							     	update #TmpReport set Factory_G = Factory_G  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if (@sod_venno = '0006'  and ltrim(rtrim(@sod_subcde)) = '') or (@sod_venno = '0005' and @sod_subcde ='HY') OR @sod_venno = 'H'
							begin
							     	update #TmpReport set Factory_H = Factory_H  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if @sod_venno = 'I'
							begin
							     	update #TmpReport set Factory_I = Factory_I  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if (@sod_venno = '0005' and @sod_subcde = 'WM') OR @sod_venno = 'J'
							begin
							     	update #TmpReport set Factory_J = Factory_J  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if (@sod_venno = '0005' and @sod_subcde = 'WB') OR @sod_venno = 'K'
							begin
							     	update #TmpReport set Factory_K = Factory_K  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if (@sod_venno = '0005' and @sod_subcde = 'LW') OR @sod_venno = 'L'
							begin
							     	update #TmpReport set Factory_L = Factory_L  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if @sod_venno = 'M' 
							begin
							     	update #TmpReport set Factory_M = Factory_M  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if @sod_venno = 'N' 
							begin
							     	update #TmpReport set Factory_N = Factory_N  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end				
						      else if @sod_venno = 'P' 
							begin
							     	update #TmpReport set Factory_P = Factory_P  + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if @sod_venno = '0009' OR @sod_venno = 'Q'
							begin
							     	update #TmpReport set Factory_Q= Factory_Q + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if @sod_venno = 'R'
							begin
							     	update #TmpReport set Factory_R= Factory_R + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if @sod_venno = 'S'
							begin
							     	update #TmpReport set Factory_S= Factory_S + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end

						      else if (@sod_venno = '0005' and @sod_subcde = 'TY') OR @sod_venno = 'T'
							begin
							     	update #TmpReport set Factory_O = Factory_O + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
								--set @FName_O = @Factory_Name					
							end
						      else if @sod_venno  = 'U'

							begin
							     	update #TmpReport set Factory_U = Factory_U + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if @sod_venno  = 'V'

							begin
							     	update #TmpReport set Factory_V = Factory_V + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if @sod_venno  = 'W'

							begin
							     	update #TmpReport set Factory_W = Factory_W + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if @sod_venno  = 'X'

							begin
							     	update #TmpReport set Factory_X = Factory_X + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if @sod_venno  = 'Y'

							begin
							     	update #TmpReport set Factory_Y = Factory_Y + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end
						      else if @sod_venno  = 'Z'
							begin
							     	update #TmpReport set Factory_Z = Factory_Z + @CBM where datefm = @TmpDate1 and dateTo = @TmpDate2
							end				

						FETCH NEXT FROM Report_Loop INTO @CBM, @sod_venno, @sod_subcde
					end
				      CLOSE Report_Loop 
				      DEALLOCATE Report_Loop
				      end
			
			set @CBM = 0				
			continue
		end
		FETCH NEXT FROM Factory_cursor INTO @Factory_Code, @Factory_Name
	END
	CLOSE Factory_cursor 
	DEALLOCATE Factory_cursor 


--Lester Wu 2005-03-31, replace ALL with UC-G
--if  @cocde	= 'UCP' or @cocde = 'ALL'  or @cocde = 'PG'
if  @cocde	= 'UCP' or @cocde = 'UC-G'  or @cocde = 'PG' or @cocde = 'EW'
       begin
	select  @FName_A = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'A'
	select  @FName_B = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'B'
	select  @FName_C = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'C'
	select  @FName_D = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'D'
	select  @FName_E = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'E'
	select  @FName_F = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'F'
	select  @FName_G = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'G'
	select  @FName_H = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'H'
	select  @FName_I = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'I'
	select  @FName_J = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'J'
	select  @FName_K = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'K'
	select  @FName_L = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'L'
	select  @FName_M = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'M'
	select  @FName_N = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'N'
	select  @FName_O = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'O'
	select  @FName_P = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'P'
	select  @FName_Q = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = '0009'
	select  @FName_R = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'R'
	select  @FName_S = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'S'	

	select  @FName_T = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'T'
	select  @FName_U = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'U'
	select  @FName_V = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'V'
	select  @FName_W = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'W'
	select  @FName_X = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'X'
	select  @FName_Y = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'Y'	
	select  @FName_Z = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'Z'
      end
--Lester Wu 2005-03-29, update company name of MS company 
else if @cocde = 'MS'
    begin
	select  @FName_A = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = '0002'
	select  @FName_B = VNBASINF.vbi_vensna  from  VNBASINF where  VNBASINF.vbi_venno = 'K'
    end



-- Report Output --
--Lester Wu 2005-03-29, handle MS company
if @cocde = 'MS'
begin
select 
	Cocde 'Cocde', 
	vendor 'Vendor',
	Vendor_label 'Vendor_Label',
	SCFm 'SCFm', 
	SCTo 'SCTo', 
	sdatefm 'Select_Date_Fm',
	sdateto 'Select_Date_To',
	dateFm 'DateFrom', 
	dateTo 'DateTo', 
	@FName_A'Factory_A',
	@FName_B 'Factory_B',
	round(Factory_A,0) 'CBM_A',
	round(Factory_B,0) 'CBM_B',
	@compName as 'compName'	

from 
	 #TmpReport 
order by 
	datefm

end 
else
begin

select 
	Cocde 'Cocde', 		--1
	vendor 'Vendor',		--2
	Vendor_label 'Vendor_Label',	--3
	SCFm 'SCFm', 		--4
	SCTo 'SCTo', 		--5
	sdatefm 'Select_Date_Fm',	--6
	sdateto 'Select_Date_To',	--7
	dateFm 'DateFrom', 		--8
	dateTo 'DateTo', 		--9

	@FName_A'Factory_A',	--1
	@FName_B 'Factory_B',	--2
	@FName_C 'Factory_C',	--3
	@FName_D 'Factory_D',	--4
	@FName_Q 'Factory_Q',	--5
	@FName_F 'Factory_F',	--6
	@FName_G 'Factory_G',	--7
	@FName_H 'Factory_H',	--8
	@FName_J 'Factory_J',	--9
	@FName_R 'Factory_R',	--10
	@FName_W 'Factory_W',	--11
	@FName_L 'Factory_L',	--12
	@FName_T 'Factory_T',	--13
	@FName_K 'Factory_K',	--14
	@FName_S 'Factory_S',	--15
	@FName_E 'Factory_E',	--16
	@FName_M 'Factory_M',	--17
	@FName_N 'Factory_N',	--18
	@FName_P 'Factory_P',	--19
	@FName_U 'Factory_U',	--20
	@FName_V 'Factory_V',	--?
	@FName_X 'Factory_X',	--?
	@FName_Z 'Factory_Z',	--21
--	@FName_I 'Factory_I',	--?
--	@FName_O 'Factory_O',	--?
--	@FName_Y 'Factory_Y',	--?

	round(Factory_A,0) 'CBM_A',	--1
	round(Factory_B,0) 'CBM_B',	--2
	round(Factory_C,0) 'CBM_C',	--3
	round(Factory_D,0) 'CBM_D',	--4
	round(Factory_Q,0) 'CBM_Q',	--5
	round(Factory_F,0) 'CBM_F',	--6
	round(Factory_G,0) 'CBM_G',	--7
	round(Factory_H,0) 'CBM_H',	--8
	round(Factory_J,0) 'CBM_J',	--9
	round(Factory_R,0) 'CBM_R',	--10
	round(Factory_W,0) 'CBM_W',	--11
	round(Factory_L,0) 'CBM_L',	--12
	round(Factory_T,0) 'CBM_T',	--13
	round(Factory_K,0) 'CBM_K',	--14
	round(Factory_S,0) 'CBM_S',	--15
	round(Factory_E,0) 'CBM_E',	--16
	round(Factory_M,0) 'CBM_M',	--17
	round(Factory_N,0) 'CBM_N',	--18
	round(Factory_P,0) 'CBM_P',	--19
	round(Factory_U,0) 'CBM_U',	--20
	round(Factory_V,0) 'CBM_V',	--?
	round(Factory_X,0) 'CBM_X',	--?
	round(Factory_Z,0) 'CBM_Z',	--21

--	round(Factory_I,0) 'CBM_I',	--?
--	round(Factory_O,0) 'CBM_O',	--?
--	round(Factory_Y,0) 'CBM_Y',	--?

	@compName as 'compName',
	cntStart = 10,
	cntCount = 23
from 
	 #TmpReport 
/*where
	Factory_A <> 0 or
	Factory_B <> 0 or
	Factory_C <> 0 or
	Factory_D <> 0 or
	Factory_E <> 0 or
	Factory_F <> 0 or
	Factory_G <> 0 or
	Factory_H <> 0 or
	Factory_I <> 0 or
	Factory_J <> 0 or
	Factory_K <> 0 or
	Factory_L <> 0 or
	Factory_M <> 0 or
	Factory_N <> 0 or
	Factory_O <> 0 or
	Factory_P <> 0 or
	Factory_Q <> 0 
*/
order by 
	datefm

end








GO
GRANT EXECUTE ON [dbo].[sp_select_INR00005] TO [ERPUSER] AS [dbo]
GO
