/****** Object:  StoredProcedure [dbo].[sp_select_IMR00026]    Script Date: 09/29/2017 15:29:09 ******/
DROP PROCEDURE [dbo].[sp_select_IMR00026]
GO
/****** Object:  StoredProcedure [dbo].[sp_select_IMR00026]    Script Date: 09/29/2017 15:29:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO













/*
=========================================================
Program ID	: sp_select_IMR00026	
Description   	: Get Outsatnding MOQ SC and insert to MOQRPTHIS
Programmer  	: Mark Lau 
Create Date   	: 16 Oct 2007
Last Modified  	: 	
Table Read(s) 	:
Table Write(s) 	:
=========================================================
 Modification History                                    
=========================================================
        
=========================================================     
*/

CREATE PROCEDURE [dbo].[sp_select_IMR00026]

@MRH_COCDE		NVARCHAR(6),
--@MRH_COMPDAT	DATETIME,
@VENTYP		NVARCHAR(1), -- I = I/J, E = E
@GENTYP		NVARCHAR(1),	--N = GENERATE NEW RECORDS ONLY, A = GENERATE ALL RECORDS
@MRH_CREUSR	NVARCHAR(30)

AS

BEGIN

DECLARE @MOQSC AS NVARCHAR(10)
SET @MOQSC = ''

DECLARE	@SOH_MOQSC		NVARCHAR(10),
		@SOH_CUS1NO	NVARCHAR(10),
		@SOD_ITMNO		NVARCHAR(20), 
		@SOD_COLCDE	NVARCHAR(20),
		@SOD_PCKUNT	NVARCHAR(6), 
		@SOD_INRCTN	INT,
		@SOD_MTRCTN  	INT,
		@SOD_ORDQTY	INT,
		@S_MOQ		INT, 
		@SOD_CURCDE	NVARCHAR(6),
		@SOD_SELPRC	NUMERIC(13,4),
		@S_MOA		NUMERIC(13,4),
		@REQ_MOQ		INT,
		@REQ_MOA		INT,
		@FLGOS		NVARCHAR(1),
		@IBI_TIRTYP		NVARCHAR(1),
		@IBI_CURCDE		NVARCHAR(3),
		@IBI_MOQCTN		INT,
		@IBI_MOA		NUMERIC(13,4),
		@IBI_QTY		INT,
		@IBI_VENNO		NVARCHAR(6),
		@IBI_TYP		NVARCHAR(6),
		@VBI_VENTYP		NVARCHAR(1),
		@YTS_MOQ		INT,
		@CREDAT		DATETIME

CREATE TABLE #TEMP_SUMMARY(

	SOH_MOQSC	NVARCHAR(10),
	SOH_CUS1NO	NVARCHAR(10),
	SOD_ITMNO	NVARCHAR(20), 
	SOD_COLCDE	NVARCHAR(255),
	SOD_PCKUNT	NVARCHAR(6), 
	SOD_INRCTN	INT,
	SOD_MTRCTN  INT,
	SOD_ORDQTY	INT,
	S_MOQ		INT, 
	SOD_CURCDE	NVARCHAR(6),
	SOD_SELPRC	NUMERIC(13,4),
	S_MOA		NUMERIC(13,4),
	REQ_MOQ	INT,
	REQ_MOA	NUMERIC(13,4),
	FLGOS		NVARCHAR(1)
	)


CREATE TABLE #TEMP_RESULT(
	MRH_COCDE	NVARCHAR(6),
	MRH_MOQSC	NVARCHAR(10),
	MRH_ORDSTS	NVARCHAR(6),
	MRH_ORDNO	NVARCHAR(10),
	MRH_ORDSEQ	INT,
	MRH_JOBORD	NVARCHAR(20),
	MRH_JOBDAT	DATETIME,
	MRH_PRDVEN	NVARCHAR(20),
	MRH_VENSNA	NVARCHAR(20),
	MRH_CUS1NO	NVARCHAR(10),
	MRH_CUS1NA	NVARCHAR(255),
	MRH_CPODAT	DATETIME,
	MRH_ITMNO	NVARCHAR(20),
	MRH_COLCDE	NVARCHAR(255), 
	MRH_PCKUNT	NVARCHAR(6), 
	MRH_INRCTN	INT,
	MRH_MTRCTN  INT,
	MRH_ORDQTY	INT,
	MRH_S_MOQ		INT, 
	MRH_CURCDE	NVARCHAR(6),
	MRH_SELPRC	NUMERIC(13,4),
	MRH_S_MOA		NUMERIC(13,4),
	MRH_REQ_MOQ	INT,
	MRH_REQ_MOA	NUMERIC(13,4),
	MRH_FLGOS		NVARCHAR(1),
	MRH_COMPDAT	DATETIME,
	MRH_VENTYP		NVARCHAR(1),
	MRH_REMARK		NVARCHAR(255),
	MRH_CREDAT	DATETIME,
	MRH_CREUSR	NVARCHAR(30),
	MRH_UPDDAT	DATETIME,
	MRH_UPDUSR	NVARCHAR(30)
	)


/*
GET ALL RELATED SC
-- SOH_CREDAT >= '2007-10-10' OR SOH_UPDDAT >= '2007-10-10' 
-- ORDER STATUS
*/

-- SET COMPARE DATE
-- GET LAST SET OF RECORDS IF USER EXECUTES MORE THAN 1 TIME IN A DAY
DECLARE @COMPDAT	AS DATETIME
--DECLARE @COMPDAT_A AS DATETIME
SET @COMPDAT = ''
--SET @COMPDAT_A = ''

IF ( @GENTYP = 'N')
BEGIN
/*
-- COMPARE DATE IS EMPTY - LATEST NEW RECORD
SELECT TOP 1 @COMPDAT = MRH_CREDAT FROM MOQRPTHIS
WHERE MRH_VENTYP = @VENTYP AND MRH_REMARK <> 'A'
ORDER BY MRH_CREDAT DESC
*/

-- GET 6 MONTHS DATA
SET @COMPDAT = DATEADD(MONTH,-6,GETDATE())

/*
-- COMPARE DATE IS EMPTY - LATEST ALL RECORD
SELECT TOP 1 @COMPDAT_A = MRH_CREDAT FROM MOQRPTHIS
WHERE MRH_VENTYP = @VENTYP AND MRH_REMARK = 'A'
ORDER BY MRH_CREDAT DESC
*/
END
ELSE IF ( @GENTYP = 'A')
BEGIN
SET @COMPDAT = ''
END


-- SET CREATE DATE
SET @CREDAT = GETDATE()

-- GET ALL MOQSC, AS SOME ORDERS' MOQSC ARE EMPTY
SELECT 
SOH_ORDNO,
SOH_MOQSC,
SOH_CPODAT,
SOH_ORDSTS,
CASE WHEN SOH_MOQSC = '' THEN SOH_ORDNO ELSE SOH_MOQSC END AS 'MOQSC_KEY'
INTO #TEMP_KEY
FROM SCORDHDR WHERE
( SOH_CPODAT >= '2007-10-10' )

-- MOQSC_CURSOR BEGIN
DECLARE MOQSC_CURSOR CURSOR FOR 
SELECT DISTINCT MOQSC_KEY  FROM #TEMP_KEY(NOLOCK) 
--INNER JOIN SCORDDTL(NOLOCK) ON SOD_ORDNO = SOH_ORDNO
--INNER JOIN POORDDTL(NOLOCK) ON SOD_ORDSEQ = POD_SCLINE AND SOD_ORDNO = POD_SCNO
WHERE --(
( SOH_ORDSTS = 'REL' OR SOH_ORDSTS = 'CLO' )
--OR
--( ISNULL(POD_JOBORD,'') <> '' )
--)

--AND ( SOH_CREDAT >= '2007-10-10' OR SOH_UPDDAT >= '2007-10-10' )
--AND ISNULL(SOH_MOQSC,'') <> ''
AND ( SOH_CPODAT >= '2007-10-10' )
ORDER BY MOQSC_KEY ASC

OPEN MOQSC_CURSOR

FETCH NEXT FROM MOQSC_CURSOR
INTO @MOQSC

WHILE @@FETCH_STATUS = 0
BEGIN


INSERT INTO #TEMP_SUMMARY
SELECT
@MOQSC AS 'SOH_MOQSC',
SOH_CUS1NO, SOD_ITMNO, SOD_COLCDE, SOD_PCKUNT, SOD_INRCTN,SOD_MTRCTN , SUM(SOD_ORDQTY) AS 'SOD_ORDQTY', SUM(SOD_ORDQTY / SOD_MTRCTN ) AS 'S_MOQ', SOD_CURCDE, SUM(SOD_SELPRC) AS 'SOD_SELPRC', SUM(SOD_SELPRC) AS 'S_MOA',MAX(SOD_MOQ) AS 'REQ_MOQ', MAX(SOD_MOA) AS 'REQ_MOA', '' AS 'FLGOS'
FROM SCORDHDR(NOLOCK) 
INNER JOIN SCORDDTL(NOLOCK) ON SOH_ORDNO = SOD_ORDNO
INNER JOIN VNBASINF ON SOD_VENNO = VBI_VENNO
WHERE 
--CASE WHEN SOH_MOQSC = '' THEN SOH_ORDNO ELSE SOH_MOQSC END  = @MOQSC 
--AND SOH_ORDSTS <> 'CAN'  AND SOH_ORDSTS <> 'CLO' AND SOH_ORDSTS <> 'HLD'
( SOH_MOQSC  = @MOQSC OR SOH_ORDNO  = @MOQSC )
AND 
(
( ( VBI_VENTYP = 'I' OR VBI_VENTYP = 'J') AND @VENTYP = 'I')
OR
( VBI_VENTYP = 'E' AND @VENTYP = 'E' )
)
GROUP BY 
--SOH_MOQSC
CASE WHEN SOH_MOQSC = '' THEN SOH_ORDNO ELSE SOH_MOQSC END, SOH_CUS1NO, SOD_ITMNO, SOD_COLCDE, SOD_PCKUNT, SOD_INRCTN,SOD_MTRCTN,SOD_CURCDE, SOD_MOQ, SOD_MOA
ORDER BY SOH_MOQSC ASC




-- COMPARE_CURSOR BEGIN

SET @SOH_MOQSC	= ''
SET @SOH_CUS1NO	= ''
SET @SOD_ITMNO	= '' 
SET @SOD_COLCDE	= ''
SET @SOD_PCKUNT	= ''
SET @SOD_INRCTN	= 0
SET @SOD_MTRCTN   = 0
SET @S_MOQ		= 0
SET @SOD_CURCDE    = ''
SET @S_MOA		= 0
SET @REQ_MOQ	= 0
SET @REQ_MOA	= 0


DECLARE COMPARE_CURSOR CURSOR FOR 
SELECT *  FROM #TEMP_SUMMARY 
ORDER BY SOH_MOQSC ASC

OPEN COMPARE_CURSOR

FETCH NEXT FROM COMPARE_CURSOR
INTO @SOH_MOQSC, @SOH_CUS1NO, @SOD_ITMNO, @SOD_COLCDE, @SOD_PCKUNT, @SOD_INRCTN, @SOD_MTRCTN, @SOD_ORDQTY, @S_MOQ, @SOD_CURCDE, @SOD_SELPRC, @S_MOA,@REQ_MOQ, @REQ_MOA, @FLGOS


WHILE @@FETCH_STATUS = 0
BEGIN


/*
SET @IBI_TIRTYP = ''
SET @IBI_CURCDE = ''
SET @IBI_MOQCTN = 0
SET @IBI_MOA = 0
SET @IBI_QTY = 0
SET @IBI_VENNO = ''
SET @IBI_TYP = ''
SET @VBI_VENTYP = ''
SET @YTS_MOQ = ''
SET @FLGOS	= ''

SELECT
@IBI_TIRTYP = IBI_TIRTYP,
@IBI_CURCDE = IBI_CURCDE,
@IBI_MOQCTN = ISNULL(IBI_MOQCTN,0),
@IBI_MOA = ISNULL(IBI_MOA,0),
@IBI_QTY = ISNULL(IBI_QTY,0),
@IBI_VENNO = IBI_VENNO,
@IBI_TYP = IBI_TYP,
@VBI_VENTYP = VBI_VENTYP
FROM IMBASINF 
INNER JOIN VNBASINF ON IBI_VENNO = VBI_VENNO
WHERE IBI_ITMNO = @SOD_ITMNO 

IF ( @IBI_TIRTYP = 1 )
BEGIN
-- STANDARD TIER

SELECT @YTS_MOQ = ISNULL(YTS_MOQ,0) FROM SYTIESTR
WHERE YTS_TIRTYP = 'M' AND YTS_ITMTYP= LEFT(@IBI_TYP,1) AND YTS_VENNO = @IBI_VENNO AND @SOD_ORDQTY BETWEEN YTS_QTYFR  AND YTS_QTYTO AND
(
-- INTERNAL AND JOINT VENTURE VENFOR EFFECTIVE DATE
( 

YTS_EFFDAT IN
(
-- SUPPOSED TO BE 2007-10-10 FOR I AND J VENDOR
SELECT DISTINCT  TOP 1 YTS_EFFDAT FROM SYTIESTR
INNER JOIN VNBASINF ON YTS_VENNO = VBI_VENNO
WHERE VBI_VENTYP = 'I' OR VBI_VENTYP = 'J'
ORDER BY  YTS_EFFDAT DESC
)

--YTS_EFFDAT >= '2007-10-10' 
AND ( @VBI_VENTYP = 'I' OR @VBI_VENTYP = 'J' )
)
OR
-- EXTERNAL VENDOR EFFECTIVE DATE
( YTS_EFFDAT >= '2003-07-01' AND @VBI_VENTYP = 'E' )
)
ORDER BY YTS_TIRSEQ

IF (@S_MOQ < @YTS_MOQ)
BEGIN
UPDATE #TEMP_SUMMARY
SET FLGOS = 'Y', REQ_MOQ = ISNULL(@YTS_MOQ,0), REQ_MOA = 0
WHERE SOH_MOQSC = @SOH_MOQSC AND  SOH_CUS1NO = @SOH_CUS1NO AND  SOD_ITMNO = @SOD_ITMNO AND  SOD_PCKUNT = @SOD_PCKUNT AND
SOD_INRCTN = @SOD_INRCTN AND SOD_MTRCTN = @SOD_MTRCTN AND SOD_CURCDE = @SOD_CURCDE AND SOD_COLCDE = @SOD_COLCDE

SET @REQ_MOQ =  ISNULL(@YTS_MOQ,0)
SET @FLGOS = 'Y'
END

END

ELSE IF ( @IBI_TIRTYP = 2 )
BEGIN
-- COMPANY DEFINED

-- CHECK FOR MOQ
IF ( @IBI_MOQCTN <> 0 ) AND ( @S_MOQ < @IBI_MOQCTN )
BEGIN
UPDATE #TEMP_SUMMARY
SET FLGOS = 'Y', REQ_MOQ = ISNULL(@IBI_MOQCTN,0), REQ_MOA = 0
WHERE SOH_MOQSC = @SOH_MOQSC AND  SOH_CUS1NO = @SOH_CUS1NO AND  SOD_ITMNO = @SOD_ITMNO AND  SOD_PCKUNT = @SOD_PCKUNT AND
SOD_INRCTN = @SOD_INRCTN AND SOD_MTRCTN = @SOD_MTRCTN AND SOD_CURCDE = @SOD_CURCDE AND SOD_COLCDE = @SOD_COLCDE

SET @REQ_MOQ =  ISNULL(@IBI_MOQCTN,0)
SET @FLGOS = 'Y'
END

-- CHECK FOR MOA
IF ( @IBI_MOA <> 0 ) AND ( @S_MOA < @IBI_MOA )
BEGIN
UPDATE #TEMP_SUMMARY
SET FLGOS = 'Y', REQ_MOA = ISNULL(@IBI_MOA,0), REQ_MOQ = 0
WHERE SOH_MOQSC = @SOH_MOQSC AND  SOH_CUS1NO = @SOH_CUS1NO AND  SOD_ITMNO = @SOD_ITMNO AND  SOD_PCKUNT = @SOD_PCKUNT AND
SOD_INRCTN = @SOD_INRCTN AND SOD_MTRCTN = @SOD_MTRCTN AND SOD_CURCDE = @SOD_CURCDE AND SOD_COLCDE = @SOD_COLCDE

SET @REQ_MOA = ISNULL(@IBI_MOA,0)
SET @FLGOS = 'Y'
END

END

ELSE
BEGIN
-- ERROR, CAN'T DETERMINE MOQ OR MOA
UPDATE #TEMP_SUMMARY
SET FLGOS = 'E', REQ_MOQ = 0, REQ_MOA = 0
WHERE SOH_MOQSC = @SOH_MOQSC AND  SOH_CUS1NO = @SOH_CUS1NO AND  SOD_ITMNO = @SOD_ITMNO AND  SOD_PCKUNT = @SOD_PCKUNT AND
SOD_INRCTN = @SOD_INRCTN AND SOD_MTRCTN = @SOD_MTRCTN AND SOD_CURCDE = @SOD_CURCDE AND SOD_COLCDE = @SOD_COLCDE

SET @FLGOS = ''
END
*/

-- CHECK FOR MOQ
IF  (@REQ_MOQ > 0 ) AND ( @S_MOQ < @REQ_MOQ) AND ( @S_MOQ > 0 )
BEGIN
UPDATE #TEMP_SUMMARY
SET FLGOS = 'Y',  REQ_MOA = 0
WHERE SOH_MOQSC = @SOH_MOQSC AND  SOH_CUS1NO = @SOH_CUS1NO AND  SOD_ITMNO = @SOD_ITMNO AND  SOD_PCKUNT = @SOD_PCKUNT AND
SOD_INRCTN = @SOD_INRCTN AND SOD_MTRCTN = @SOD_MTRCTN AND SOD_CURCDE = @SOD_CURCDE AND SOD_COLCDE = @SOD_COLCDE

SET @FLGOS = 'Y'
END

-- CHECK FOR MOA
IF ( @REQ_MOA > 0 ) AND ( @S_MOA < @REQ_MOA) AND ( @S_MOA > 0 )
BEGIN
UPDATE #TEMP_SUMMARY
SET FLGOS = 'Y',  REQ_MOQ = 0
WHERE SOH_MOQSC = @SOH_MOQSC AND  SOH_CUS1NO = @SOH_CUS1NO AND  SOD_ITMNO = @SOD_ITMNO AND  SOD_PCKUNT = @SOD_PCKUNT AND
SOD_INRCTN = @SOD_INRCTN AND SOD_MTRCTN = @SOD_MTRCTN AND SOD_CURCDE = @SOD_CURCDE AND SOD_COLCDE = @SOD_COLCDE

SET @FLGOS = 'Y'
END


IF @FLGOS = 'Y'
BEGIN

INSERT INTO #TEMP_RESULT
SELECT 
	ISNULL(@MRH_COCDE,'') AS 'MRH_COCDE',
	@SOH_MOQSC AS 'MRH_MOQSC',
	SOH_ORDSTS	AS 'MRH_ORDSTS',
	SOH_ORDNO	AS 'MRH_ORDNO',
	SOD_ORDSEQ 	AS 'MRH_ORDSEQ',
	ISNULL(POD_JOBORD,'')  AS 'MRH_JOBORD',
	ISNULL(POD_CREDAT, '') AS 'MRH_JOBDAT',
	ISNULL(SOD_VENNO,'')	  AS 'MRH_PRDVEN',
	ISNULL(VBI_VENSNA,'') AS 'MRH_VENSNA',
	SOH_CUS1NO	AS 'MRH_CUS1NO',
	ISNULL(CBI_CUSSNA,'')	AS 'MRH_CUS1NA',
	SOH_CPODAT	AS 'MRH_CPODAT',
	SOD_ITMNO	AS 'MRH_ITMNO', 
	SOD_COLCDE	AS 'MRH_COLCDE',
	SOD_PCKUNT	AS 'MRH_PCKUNT', 
	SOD_INRCTN	AS 'MRH_INTCTN',
	SOD_MTRCTN  AS 'MRH_MTRCTN',
	SOD_ORDQTY	AS 'MRH_ORDQTY',
	@S_MOQ AS 'MRH_S_MOQ'		, 
	SOD_CURCDE	AS 'MRH_CURCDE',
	SOD_SELPRC	AS 'MRH_SELPRC',
	@S_MOA AS 'MRH_S_MOA'		,
	@REQ_MOQ AS 'MRH_REQ_MOQ'	,
	@REQ_MOA AS 'MRH_REQ_MOA'	,
	@FLGOS AS 'MRH_FLGOS'	,
	@COMPDAT AS 'MRH_COMPDAT',
	@VENTYP	AS 'MRH_VENTYP',
	CASE WHEN @GENTYP = 'A' THEN @GENTYP ELSE '' END AS 'MRH_REMARK',
	@CREDAT AS 'MRH_CREDAT'	,
	@MRH_CREUSR AS 'MRH_CREUSR'	,
	@CREDAT AS 'MRH_UPDDAT'	,
	@MRH_CREUSR AS 'MRH_UPDUSR'

FROM SCORDDTL(NOLOCK)
INNER JOIN SCORDHDR(NOLOCK) ON SOD_ORDNO = SOH_ORDNO
INNER JOIN CUBASINF ON SOH_CUS1NO = CBI_CUSNO
INNER JOIN VNBASINF ON VBI_VENNO = SOD_VENNO
LEFT JOIN POORDDTL(NOLOCK) ON SOD_ORDNO = POD_SCNO AND SOD_ORDSEQ = POD_SCLINE
WHERE ( SOH_MOQSC = @SOH_MOQSC OR SOH_ORDNO = @SOH_MOQSC)
AND  SOH_CUS1NO = @SOH_CUS1NO AND  SOD_ITMNO = @SOD_ITMNO AND SOD_COLCDE = @SOD_COLCDE AND SOD_PCKUNT = @SOD_PCKUNT AND
SOD_INRCTN = @SOD_INRCTN AND SOD_MTRCTN = @SOD_MTRCTN AND SOD_CURCDE = @SOD_CURCDE AND SOD_MOQ = @REQ_MOQ AND SOD_MOA = @REQ_MOA

END

SET @FLGOS = ''
DELETE FROM #TEMP_SUMMARY
FETCH NEXT FROM COMPARE_CURSOR
INTO  @SOH_MOQSC, @SOH_CUS1NO, @SOD_ITMNO, @SOD_COLCDE, @SOD_PCKUNT, @SOD_INRCTN, @SOD_MTRCTN, @SOD_ORDQTY, @S_MOQ, @SOD_CURCDE, @SOD_SELPRC, @S_MOA,@REQ_MOQ, @REQ_MOA, @FLGOS


END
CLOSE COMPARE_CURSOR
DEALLOCATE COMPARE_CURSOR
-- COMPARE_CURSOR END

FETCH NEXT FROM MOQSC_CURSOR
INTO @MOQSC


END
CLOSE MOQSC_CURSOR
DEALLOCATE MOQSC_CURSOR
-- MOQSC_CURSOR END


/*
DECLARE @JOBORD AS NVARCHAR(20)
DECLARE @JOBDAT AS DATETIME
SET @JOBORD = ''
SET @JOBDAT = ''

SELECT *  INTO #TEMP_JOBDAT FROM #TEMP_RESULT(NOLOCK) 
WHERE
ISNULL(MRH_JOBORD,'') <> ''
ORDER BY MRH_JOBORD ASC

-- JOBDAT_CURSOR BEGIN
DECLARE JOBDAT_CURSOR CURSOR FOR 
SELECT MRH_JOBORD  FROM #TEMP_JOBDAT(NOLOCK) 
ORDER BY MRH_JOBORD ASC

OPEN JOBDAT_CURSOR

FETCH NEXT FROM JOBDAT_CURSOR
INTO @JOBORD

WHILE @@FETCH_STATUS = 0
BEGIN

SELECT TOP 1 @JOBDAT = ISNULL(POD_CREDAT,'') FROM POORDDTL(NOLOCK)
WHERE 
POD_JOBORD = @JOBORD
AND ISNULL(POD_JOBORD,'') <> ''
ORDER BY POD_CREDAT ASC

UPDATE #TEMP_RESULT
SET MRH_JOBDAT = @JOBDAT
WHERE MRH_JOBORD = @JOBORD


FETCH NEXT FROM JOBDAT_CURSOR
INTO @JOBORD

END
CLOSE JOBDAT_CURSOR
DEALLOCATE JOBDAT_CURSOR

DROP TABLE #TEMP_JOBDAT
*/

-- TABLE A, LAST SET OF RECORDS FOR COMPARISON
SELECT DISTINCT MRH_MOQSC, MRH_CUS1NO, MRH_ITMNO, MRH_COLCDE, MRH_PCKUNT, MRH_INRCTN, MRH_MTRCTN, MRH_CREDAT INTO #TEMP_TABLEA  
FROM MOQRPTHIS
WHERE 
/*
(
(
( MRH_CREDAT = @COMPDAT AND @COMPDAT <>'' )
OR
( MRH_CREDAT = @COMPDAT_A AND @COMPDAT_A <>'' )
)
OR
( @COMPDAT = '')
)
*/
MRH_CREDAT >= @COMPDAT
AND MRH_VENTYP = @VENTYP
ORDER BY MRH_CREDAT, MRH_MOQSC, MRH_CUS1NO, MRH_ITMNO, MRH_COLCDE, MRH_PCKUNT, MRH_INRCTN, MRH_MTRCTN ASC

-- TABLE B, CURRENT SET OF RECORDS
SELECT DISTINCT MRH_MOQSC, MRH_CUS1NO, MRH_ITMNO, MRH_COLCDE, MRH_PCKUNT, MRH_INRCTN, MRH_MTRCTN, MRH_CREDAT  INTO #TEMP_TABLEB 
FROM #TEMP_RESULT
WHERE MRH_CREDAT = @CREDAT 
AND MRH_VENTYP = @VENTYP
ORDER BY MRH_CREDAT, MRH_MOQSC, MRH_CUS1NO, MRH_ITMNO, MRH_COLCDE, MRH_PCKUNT, MRH_INRCTN, MRH_MTRCTN ASC



DECLARE	@MRH_MOQSC	NVARCHAR(10),
		@MRH_CUS1NO	NVARCHAR(10),
		@MRH_ITMNO	NVARCHAR(20), 
		@MRH_COLCDE	NVARCHAR(20),
		@MRH_PCKUNT	NVARCHAR(6), 
		@MRH_INRCTN	INT,
		@MRH_MTRCTN  	INT,
		@MRH_CREDAT	DATETIME

-- COMPARE TABLE A & B
DECLARE RESULT_CURSOR CURSOR FOR 
SELECT * FROM #TEMP_TABLEB
ORDER BY MRH_MOQSC ASC

OPEN RESULT_CURSOR

FETCH NEXT FROM RESULT_CURSOR
INTO @MRH_MOQSC, @MRH_CUS1NO, @MRH_ITMNO, @MRH_COLCDE, @MRH_PCKUNT, @MRH_INRCTN, @MRH_MTRCTN, @MRH_CREDAT


WHILE @@FETCH_STATUS = 0
BEGIN

-- REPORT TYPE IS 'N'
IF (@GENTYP = 'N') 
-- FOUND IN TABLE B, BUT TABLE A
BEGIN
IF (SELECT COUNT(1) FROM #TEMP_TABLEA 
WHERE MRH_MOQSC = @MRH_MOQSC AND MRH_CUS1NO = @MRH_CUS1NO AND MRH_ITMNO = @MRH_ITMNO AND MRH_COLCDE = @MRH_COLCDE AND MRH_PCKUNT= @MRH_PCKUNT AND MRH_INRCTN = @MRH_INRCTN
AND MRH_MTRCTN = @MRH_MTRCTN ) = 0
BEGIN

UPDATE #TEMP_RESULT
SET MRH_REMARK =  @GENTYP
WHERE MRH_MOQSC = @MRH_MOQSC AND MRH_CUS1NO = @MRH_CUS1NO AND MRH_ITMNO = @MRH_ITMNO AND MRH_COLCDE = @MRH_COLCDE AND MRH_PCKUNT= @MRH_PCKUNT AND MRH_INRCTN = @MRH_INRCTN
AND MRH_MTRCTN = @MRH_MTRCTN AND MRH_CREDAT = @MRH_CREDAT
END
END
/*
-- FOUND IN TABLE B AND TABLE A
IF (SELECT COUNT(1) FROM #TEMP_TABLEA 
WHERE MRH_MOQSC = @MRH_MOQSC AND MRH_CUS1NO = @MRH_CUS1NO AND MRH_ITMNO = @MRH_ITMNO AND MRH_COLCDE = @MRH_COLCDE AND MRH_PCKUNT= @MRH_PCKUNT AND MRH_INRCTN = @MRH_INRCTN
AND MRH_MTRCTN = @MRH_MTRCTN ) = 1
BEGIN

UPDATE #TEMP_RESULT
SET MRH_REMARK = 'Old Record'
WHERE MRH_MOQSC = @MRH_MOQSC AND MRH_CUS1NO = @MRH_CUS1NO AND MRH_ITMNO = @MRH_ITMNO AND MRH_COLCDE = @MRH_COLCDE AND MRH_PCKUNT= @MRH_PCKUNT AND MRH_INRCTN = @MRH_INRCTN
AND MRH_MTRCTN = @MRH_MTRCTN AND MRH_CREDAT = @MRH_CREDAT
END
*/

FETCH NEXT FROM RESULT_CURSOR
INTO @MRH_MOQSC, @MRH_CUS1NO, @MRH_ITMNO, @MRH_COLCDE, @MRH_PCKUNT, @MRH_INRCTN, @MRH_MTRCTN, @MRH_CREDAT

END
CLOSE RESULT_CURSOR
DEALLOCATE RESULT_CURSOR


IF (SELECT COUNT(1) FROM #TEMP_RESULT(NOLOCK) ) > 0
BEGIN

INSERT INTO MOQRPTHIS
SELECT * FROM #TEMP_RESULT(NOLOCK)
WHERE 
MRH_CREDAT = @MRH_CREDAT
ORDER BY MRH_ITMNO, MRH_COLCDE, MRH_PCKUNT, MRH_INRCTN, MRH_MTRCTN, MRH_CREDAT, MRH_MOQSC, MRH_CUS1NO, MRH_ORDNO  ASC
END
ELSE
BEGIN
INSERT INTO MOQRPTHIS
(
	MRH_COCDE	,
	MRH_MOQSC	,
	MRH_ORDSTS	,
	MRH_ORDNO	,
	MRH_ORDSEQ	,
	MRH_JOBORD	,
	MRH_JOBDAT	,
	MRH_PRDVEN	,
	MRH_VENSNA	,
	MRH_CUS1NO	,
	MRH_CUS1NA	,
	MRH_CPODAT	,
	MRH_ITMNO	,
	MRH_COLCDE	, 
	MRH_PCKUNT	, 
	MRH_INRCTN	,
	MRH_MTRCTN  ,
	MRH_ORDQTY	,
	MRH_S_MOQ		, 
	MRH_CURCDE	,
	MRH_SELPRC	,
	MRH_S_MOA		,
	MRH_REQ_MOQ	,
	MRH_REQ_MOA	,
	MRH_FLGOS		,
	MRH_COMPDAT	,
	MRH_VENTYP	,
	MRH_REMARK		,
	MRH_CREDAT	,
	MRH_CREUSR	,
	MRH_UPDDAT,
	MRH_UPDUSR	
)
VALUES (@MRH_COCDE,'','','',0,'','','','','','','','','','',0,0,0,0,'',0,0,0,0,'','',@VENTYP,'No Record Found. Dummy Record For Next Comparison.',@CREDAT,@MRH_CREUSR,@CREDAT,@MRH_CREUSR)
END


SELECT  MRH_MOQSC, MRH_CUS1NO, MRH_ITMNO, MRH_COLCDE, MRH_PCKUNT, MRH_INRCTN, MRH_MTRCTN, MRH_ORDSTS
INTO #TEMP_FILTER_ACT
FROM MOQRPTHIS
WHERE
MRH_CREDAT = @CREDAT
--AND MRH_ORDSTS <> 'ACT'
AND ISNULL(MRH_JOBORD,'') <> ''
GROUP BY  MRH_MOQSC, MRH_CUS1NO, MRH_ITMNO, MRH_COLCDE, MRH_PCKUNT, MRH_INRCTN, MRH_MTRCTN,MRH_ORDSTS
--select * from #TEMP_FILTER_ACT


SELECT M.* FROM MOQRPTHIS AS M (NOLOCK)
INNER JOIN #TEMP_FILTER_ACT AS A ON
M.MRH_MOQSC = A.MRH_MOQSC AND
M.MRH_CUS1NO= A.MRH_CUS1NO AND
M.MRH_ITMNO= A.MRH_ITMNO AND
M.MRH_COLCDE = A.MRH_COLCDE AND
M.MRH_PCKUNT= A.MRH_PCKUNT AND
M.MRH_INRCTN = A.MRH_INRCTN AND
M.MRH_MTRCTN = A.MRH_MTRCTN

WHERE 
(
( M.MRH_REMARK = 'N' AND @GENTYP = 'N')
OR
( M.MRH_REMARK = 'A' AND @GENTYP = 'A' )
)
AND M.MRH_CREDAT = @CREDAT
AND M.MRH_VENTYP = @VENTYP
ORDER BY M.MRH_ITMNO, M.MRH_COLCDE, M.MRH_PCKUNT, M.MRH_INRCTN, M.MRH_MTRCTN, M.MRH_CREDAT, M.MRH_MOQSC, M.MRH_CUS1NO, M.MRH_ORDNO ASC


DROP TABLE #TEMP_RESULT
DROP TABLE #TEMP_TABLEA
DROP TABLE #TEMP_TABLEB
DROP TABLE #TEMP_SUMMARY
DROP TABLE #TEMP_KEY


END



GO
GRANT EXECUTE ON [dbo].[sp_select_IMR00026] TO [ERPUSER] AS [dbo]
GO
