/****** Object:  StoredProcedure [dbo].[SP_INSERT_BOR00001]    Script Date: 09/29/2017 15:29:09 ******/
DROP PROCEDURE [dbo].[SP_INSERT_BOR00001]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_BOR00001]    Script Date: 09/29/2017 15:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*************************************************

*************************************************

SELECT * FROM VNBOMPO WHERE VPO_VPONO > 'VP0500001'
ORDER BY VPO_CREDAT DESC


SP_INSERT_BOR00001 'UCPP','VP0500002','MIS'	


update SYDOCCTL set ydc_seqno = '00001' where ydc_doctyp = 'VP'
delete from VNBOMPO where VPO_VPONO > 'VP0500001'

Truncate table VNBOMPO

UPDATE VNBOMPO SET VPO_VPONO = LTRIM(RTRIM(VPO_VPONO))

****************************************************/

CREATE PROCEDURE [dbo].[SP_INSERT_BOR00001]
@COCDE	VARCHAR(6),
@DOCNO VARCHAR(20),
@USRID	VARCHAR(30)
AS 
BEGIN
DECLARE 
@PBD_BOMPO	VARCHAR(20), 
@PBD_BOMSEQ	INT,
@PBD_ITMNO	VARCHAR(20),
@PBD_ADJQTY	INT,
@PBD_ORDQTY	INT,
@PBD_UNTCDE	VARCHAR(6),
@PBD_VENCOL	VARCHAR(30),
@PBD_JOBNO	VARCHAR(30),
@PBD_PREJOBNO	VARCHAR(30),
@POD_SHPSTR	VARCHAR(10),
@PLCQTY	INT,
@LSTDOCNO	VARCHAR(20),
@LSTDOCDAT	DATETIME,
@SHPSTR	VARCHAR(10),
@SOD_PJOBNO	VARCHAR(30)
SET @LSTDOCNO = ''
SET @LSTDOCDAT = '1900/01/01'

SELECT @LSTDOCNO = MAX(VPO_VPONO) FROM VNBOMPO
SELECT @LSTDOCDAT = ISNULL(MAX(VPO_CREDAT),'1900/01/01') FROM VNBOMPO WHERE VPO_VPONO = @LSTDOCNO --'VP0500008'



--select @LSTDOCDAT

DECLARE  CUR_BOMDTL CURSOR
FOR
	SELECT 
		PBD_BOMPO, 
		PBD_BOMSEQ,
		PBD_ITMNO,
		PBD_ADJQTY,
		--PBD_ORDQTY,
		ISNULL(POD_JOBORD,'') AS 'POD_JOBNO',
		PBD_UNTCDE,
		isnull(convert(varchar(10),POD_SHPSTR,101),'') as 'POD_SHPSTR',
		ISNULL(SOD_PJOBNO,'') as 'SOD_PJOBNO'
		
	FROM 
		POBOMDTL(NOLOCK)
		LEFT JOIN POBOMHDR(NOLOCK) ON PBD_COCDE = PBH_COCDE AND PBD_BOMPO = PBH_BOMPO
		LEFT JOIN PODTLBOM (NOLOCK) ON PBD_COCDE = PDB_COCDE AND PBD_BOMPO = PDB_BOMPNO AND PBD_BOMSEQ = PDB_BPOLNE
		LEFT JOIN POORDDTL (NOLOCK) ON POD_COCDE = PBD_COCDE AND POD_PURORD = PDB_PURORD AND POD_PURSEQ = PDB_SEQ
		LEFT JOIN SCORDDTL (NOLOCK) ON POD_COCDE = SOD_COCDE AND POD_PURORD = SOD_PURORD AND POD_PURSEQ = SOD_PURSEQ

	WHERE
		PBD_UPDDAT > @LSTDOCDAT --'2005-06-23 14:25:52.140' 
		--AND PBD_UPDDAT >='2005-06-03' AND PBD_UPDDAT < '2005-06-04'
		
--select * from POBOMDTL
--where pbd_credat >= '2005-06-23'

OPEN CUR_BOMDTL
FETCH NEXT FROM CUR_BOMDTL INTO
@PBD_BOMPO, 
@PBD_BOMSEQ,
@PBD_ITMNO,
@PBD_ADJQTY,
@PBD_JOBNO,
@PBD_UNTCDE,
@POD_SHPSTR,
@SOD_PJOBNO

WHILE @@fetch_status = 0
BEGIN
	
	SET @PLCQTY = 0
	SET @PBD_PREJOBNO = ''
	SET @LSTDOCNO = ''
	SET @SHPSTR = ''
	--IF @LSTDOCNO<>''
	--BEGIN
		SELECT Top 1 
				@PLCQTY = ISNULL(VPO_ORDQTY,0) ,
				@PBD_PREJOBNO = ISNULL(VPO_JOBNO,''), 
				@LSTDOCNO = VPO_VPONO,
				@SHPSTR = ISNULL(VPO_SHPSTR,'')
		FROM VNBOMPO 
		WHERE 
		--VPO_VPONO = @LSTDOCNO AND
		VPO_BOMPO = @PBD_BOMPO AND
		VPO_BOMSEQ = @PBD_BOMSEQ AND
		VPO_BOMITM = @PBD_ITMNO
		ORDER BY VPO_CREDAT DESC
	--END

	--select @PLCQTY,@PBD_ADJQTY,@POD_SHPSTR,@SHPSTR,@PBD_PREJOBNO,@PBD_JOBNO

	IF (@PLCQTY > 0 OR @PBD_ADJQTY > 0) AND (@PLCQTY<> @PBD_ADJQTY OR (@POD_SHPSTR<>@SHPSTR) OR (@PBD_PREJOBNO<>@PBD_JOBNO))
	BEGIN	
		
		INSERT INTO VNBOMPO 
		(VPO_VPONO,	VPO_SEQNO,
		VPO_BOMPO,	VPO_BOMSEQ,
		VPO_JOBNO,	VPO_PREJOB,
		VPO_BOMITM,	VPO_BOMUM,
		VPO_ORDQTY,	VPO_PLCQTY,
		VPO_LSTVPO,	VPO_SHPSTR,
		VPO_CREDAT,	VPO_CREUSR)
		SELECT
		@DOCNO,	ISNULL(MAX(VPO_SEQNO),0) + 1,
		@PBD_BOMPO,	@PBD_BOMSEQ,
		CASE @PBD_JOBNO WHEN '' THEN  @PBD_PREJOBNO ELSE @PBD_JOBNO END,
		@SOD_PJOBNO,
		@PBD_ITMNO,	@PBD_UNTCDE,
		@PBD_ADJQTY,	@PLCQTY,
		@LSTDOCNO,	@POD_SHPSTR,
		GETDATE(),	@USRID
		FROM VNBOMPO
		WHERE VPO_VPONO = @DOCNO
	END


	FETCH NEXT FROM CUR_BOMDTL INTO
	@PBD_BOMPO,
	@PBD_BOMSEQ,
	@PBD_ITMNO,
	@PBD_ADJQTY,
	@PBD_JOBNO,
	@PBD_UNTCDE,
	@POD_SHPSTR,
	@SOD_PJOBNO
	
END
CLOSE CUR_BOMDTL
DEALLOCATE CUR_BOMDTL

	IF NOT EXISTS (select * from VNBOMPO where VPO_VPONO = @DOCNO)
	BEGIN
		update 
		 	SYDOCCTL 
		set 	
			ydc_seqno =right('00000' + ltrim(rtrim(cast((right(@DOCNO,5) - 1) as varchar(5)))),5),
			ydc_upddat = getdate(),
			ydc_updusr = 'SYS-BOR00001'
		where 
			ydc_doctyp = 'VP' and ydc_cocde = @cocde

		select 'NO DATA'
	END
	else
	BEGIN
		select 'OK'
	END
END






GO
GRANT EXECUTE ON [dbo].[SP_INSERT_BOR00001] TO [ERPUSER] AS [dbo]
GO
