/****** Object:  StoredProcedure [dbo].[sp_select_COR00002]    Script Date: 09/29/2017 15:29:09 ******/
DROP PROCEDURE [dbo].[sp_select_COR00002]
GO
/****** Object:  StoredProcedure [dbo].[sp_select_COR00002]    Script Date: 09/29/2017 15:29:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO






CREATE PROCEDURE [dbo].[sp_select_COR00002] 

@cocde nvarchar(6)

AS


select 	'' as 'Field Name',	
	'' as 'Operand',
	'' as 'Value',
	'' as 'Conjunction',
	'' as 'Field Type',
	'' as 'Field Length'






GO
GRANT EXECUTE ON [dbo].[sp_select_COR00002] TO [ERPUSER] AS [dbo]
GO
