/****** Object:  StoredProcedure [dbo].[sp_insert_VBAP]    Script Date: 09/29/2017 15:29:09 ******/
DROP PROCEDURE [dbo].[sp_insert_VBAP]
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_VBAP]    Script Date: 09/29/2017 15:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_insert_VBAP] 
@MANDT	nvarchar(10),
@VBELN	nvarchar(20),
@POSNR	nvarchar(10),
@MATNR	nvarchar(20),
@MATWA	nvarchar(20),--5
@MATKL	nvarchar(10),
@ARKTX	nvarchar(40),
@PSTYV	nvarchar(10),
@ABGRU	nvarchar(10),
@ZIEME	nvarchar(10),--10
@UMZIZ	int,
@UMZIN	int,
@MEINS	nvarchar(3),
@NETWR	numeric(13,4),
@WAERK	nvarchar(10),--15
@ANTLF	int,
@KWMENG	numeric(13,4),
@LSMENG	numeric(13,4),
@KBMENG	numeric(13,4),
@KLMENG	numeric(13,4),--20
@VRKME	nvarchar(10),
@UMVKZ	int,
@UMVKN	int,
@BRGEW	numeric(13,4),
@NTGEW	numeric(13,4),--25
@GEWEI	nvarchar(10),
@VOLUM	numeric(13,4),
@VOLEH	nvarchar(10),
@VBELV	nvarchar(10),
@POSNV	nvarchar(10),--30
@VGBEL	nvarchar(10),
@VGPOS	nvarchar(10),
@WERKS	nvarchar(10),
@VSTEL	nvarchar(10),
@ERDAT	datetime,--35
@ERNAM	nvarchar(20),
@ERZET	nvarchar(20),
@AEDAT	nvarchar(20),
@AUDAT	datetime,
@ZZMATNR	nvarchar(20),--40
@ZZPACKNR		nvarchar(30),
@ZZCARTONFROM1	nvarchar(10),
@ZZCARTONTO1		nvarchar(10),
@ZZCARTONFROM2	nvarchar(10),
@ZZCARTONTO2		nvarchar(10),--45
@ZZCARTONFROM3	nvarchar(10),	
@ZZCARTONTO3		nvarchar(10),
@ZZCARTONFROM4	nvarchar(10),
@ZZCARTONTO4		nvarchar(10),
@ZSUBNO			char(2),--50
@ZZUNTCDE		nvarchar(20),
@ZZINRQTY	int,
@ZZMTRQTY	int,
@ZPOD_CUSITM	nvarchar(20),
@ZPOD_PRDVEN	nvarchar(10),--55
@ZSOD_CUSVEN	nvarchar(10),
@ZSOD_DV	nvarchar(10),
@ZPCKMATNR	nvarchar(20),
@ZPOD_CTNSTR	nvarchar(10),
@ZPOD_CTNEND	nvarchar(10),--60
@ZPOD_SHPSTR	datetime,
@ZSOD_CBM	numeric(13,4),
@ZSOD_ORDSEQ	int,
@ZSOD_COLCDE	nvarchar(60),
@ZSOD_COLDSC	nvarchar(60),--65
@ZPCQTY	int,
@ZSOD_TTLCTN	int,
@ZSOD_CONFTR	int,
@ZCSTCHG	char(1),
@ZCSTCHGDAT	nvarchar(20),--70
@ZCSTCHGTIM	nvarchar(20),
@ZSOD_RESPPO	nvarchar(20),
@ZSOD_FTYCSTCUR	nvarchar(10),
@ZSOD_FTYCST	numeric(13,4),
@ZSOD_QUTDAT	nvarchar(20),--75
@ZPOD_FTYPRCTRM	nvarchar(30),
@ZPOD_HKPRCTRM	nvarchar(30),
@ZPOD_TRANTRM	nvarchar(30),
@ZSOD_TORDNO	nvarchar(20),
@ZSOD_TORDSEQ	int,--80
@ZZLASTUPDATE	nvarchar(20),
@ZZSHIPDTCHG	char(1),
@ZZQTYCHG	char(1),
@ZREFVBELN	nvarchar(20),
@ZREFPOSNR	nvarchar(20),--85
@ZFLGAPPRPV	char(1),
@ZAPPRPVDAT	nvarchar(20),
@ZAPPRPVTIM	nvarchar(20),
@ZAPPRWTPV	nvarchar(10),
@ZAPPZZ	char(1),--90
@ZAPCSTU_F	char(1),
@ZAPCSTU_D	nvarchar(20),
@ZAPCSTU_T	nvarchar(20),
@ZAPCSTU_C	nvarchar(40),
@ZAPCSTC_F	char(1),--95
@ZAPCSTC_D	nvarchar(20),
@ZAPCSTC_T	nvarchar(20),
@ZAPCSTC_C	nvarchar(40),
@ZFLGAPPRCV	char(1),
@ZAPPRCVDAT	nvarchar(20),--100
@ZAPPRCVTIM	nvarchar(20),
@ZAPPRWTCV	nvarchar(10),
@usrid nvarchar(30)

as

insert into VBAP
(
MANDT,
VBELN,
POSNR,
MATNR,
MATWA,
MATKL,
ARKTX,
PSTYV,
ABGRU,
ZIEME,
UMZIZ,
UMZIN,
MEINS,
NETWR,
WAERK,
ANTLF,
KWMENG,
LSMENG,
KBMENG,
KLMENG,
VRKME,
UMVKZ,
UMVKN,
BRGEW,
NTGEW,
GEWEI,
VOLUM,
VOLEH,
VBELV,
POSNV,
VGBEL,
VGPOS,
WERKS,
VSTEL,
ERDAT,
ERNAM,
ERZET,
AEDAT,
AUDAT,
ZZMATNR,
ZZPACKNR,
ZZCARTONFROM1,
ZZCARTONTO1,
ZZCARTONFROM2,
ZZCARTONTO2,
ZZCARTONFROM3,
ZZCARTONTO3,
ZZCARTONFROM4,
ZZCARTONTO4,
ZSUBNO,
ZZUNTCDE,
ZZINRQTY,
ZZMTRQTY,
ZPOD_CUSITM,
ZPOD_PRDVEN,
ZSOD_CUSVEN,
ZSOD_DV,
ZPCKMATNR,
ZPOD_CTNSTR,
ZPOD_CTNEND,
ZPOD_SHPSTR,
ZSOD_CBM,
ZSOD_ORDSEQ,
ZSOD_COLCDE,
ZSOD_COLDSC,
ZPCQTY,
ZSOD_TTLCTN,
ZSOD_CONFTR,
ZCSTCHG,
ZCSTCHGDAT,
ZCSTCHGTIM,
ZSOD_RESPPO,
ZSOD_FTYCSTCUR,
ZSOD_FTYCST,
ZSOD_QUTDAT,
ZPOD_FTYPRCTRM,
ZPOD_HKPRCTRM,
ZPOD_TRANTRM,
ZSOD_TORDNO,
ZSOD_TORDSEQ,
ZZLASTUPDATE,
ZZSHIPDTCHG,
ZZQTYCHG,
ZREFVBELN,
ZREFPOSNR,
ZFLGAPPRPV,
ZAPPRPVDAT,
ZAPPRPVTIM,
ZAPPRWTPV,
ZAPPZZ,
ZAPCSTU_F,
ZAPCSTU_D,
ZAPCSTU_T,
ZAPCSTU_C,
ZAPCSTC_F,
ZAPCSTC_D,
ZAPCSTC_T,
ZAPCSTC_C,
ZFLGAPPRCV,
ZAPPRCVDAT,
ZAPPRCVTIM,
ZAPPRWTCV,
creusr,
updusr,
credat,
upddat
)
values
(
@MANDT,
@VBELN,
@POSNR,
@MATNR,
@MATWA,
@MATKL,
@ARKTX,
@PSTYV,
@ABGRU,
@ZIEME,
@UMZIZ,
@UMZIN,
@MEINS,
@NETWR,
@WAERK,
@ANTLF,
@KWMENG,
@LSMENG,
@KBMENG,
@KLMENG,
@VRKME,
@UMVKZ,
@UMVKN,
@BRGEW,
@NTGEW,
@GEWEI,
@VOLUM,
@VOLEH,
@VBELV,
@POSNV,
@VGBEL,
@VGPOS,
@WERKS,
@VSTEL,
@ERDAT,
@ERNAM,
@ERZET,
@AEDAT,
@AUDAT,
@ZZMATNR,
@ZZPACKNR,
@ZZCARTONFROM1,
@ZZCARTONTO1,
@ZZCARTONFROM2,
@ZZCARTONTO2,
@ZZCARTONFROM3,
@ZZCARTONTO3,
@ZZCARTONFROM4,
@ZZCARTONTO4,
@ZSUBNO,
@ZZUNTCDE,
@ZZINRQTY,
@ZZMTRQTY,
@ZPOD_CUSITM,
@ZPOD_PRDVEN,
@ZSOD_CUSVEN,
@ZSOD_DV,
@ZPCKMATNR,
@ZPOD_CTNSTR,
@ZPOD_CTNEND,
@ZPOD_SHPSTR,
@ZSOD_CBM,
@ZSOD_ORDSEQ,
@ZSOD_COLCDE,
@ZSOD_COLDSC,
@ZPCQTY,
@ZSOD_TTLCTN,
@ZSOD_CONFTR,
@ZCSTCHG,
@ZCSTCHGDAT,
@ZCSTCHGTIM,
@ZSOD_RESPPO,
@ZSOD_FTYCSTCUR,
@ZSOD_FTYCST,
@ZSOD_QUTDAT,
@ZPOD_FTYPRCTRM,
@ZPOD_HKPRCTRM,
@ZPOD_TRANTRM,
@ZSOD_TORDNO,
@ZSOD_TORDSEQ,
@ZZLASTUPDATE,
@ZZSHIPDTCHG,
@ZZQTYCHG,
@ZREFVBELN,
@ZREFPOSNR,
@ZFLGAPPRPV,
@ZAPPRPVDAT,
@ZAPPRPVTIM,
@ZAPPRWTPV,
@ZAPPZZ,
@ZAPCSTU_F,
@ZAPCSTU_D,
@ZAPCSTU_T,
@ZAPCSTU_C,
@ZAPCSTC_F,
@ZAPCSTC_D,
@ZAPCSTC_T,
@ZAPCSTC_C,
@ZFLGAPPRCV,
@ZAPPRCVDAT,
@ZAPPRCVTIM,
@ZAPPRWTCV,
@usrid,
@usrid,
getdate(),
getdate()
)



GO
GRANT EXECUTE ON [dbo].[sp_insert_VBAP] TO [ERPUSER] AS [dbo]
GO
