/****** Object:  StoredProcedure [dbo].[sp_select_CUCNTINF_SC]    Script Date: 09/29/2017 15:29:09 ******/
DROP PROCEDURE [dbo].[sp_select_CUCNTINF_SC]
GO
/****** Object:  StoredProcedure [dbo].[sp_select_CUCNTINF_SC]    Script Date: 09/29/2017 15:29:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








-- Checked by Allan Yuen at 28/08/2003


/************************************************************************
Author:		Kenny Chan
Date:		17 Feb, 2002
Description:	Select data From CUCNTINF
Parameter:	1. Company
		2. CUSNO
************************************************************************/
------------------------------------------------- 
CREATE procedure [dbo].[sp_select_CUCNTINF_SC]
                                                                                                                                                                                                                                                                 

@cci_cocde	nvarchar(6),
@cci_cusno	nvarchar(6) 
                                               
 
AS

begin

Select	cci_cocde,	cci_cusno,	cci_cnttyp,
	cci_cntseq,	cci_cntadr,	cci_cntstt,
	cci_cntcty,	cci_cntpst,	cci_cntctp,
	cci_cnttil,		cci_cntphn,	cci_cntfax,
	cci_cnteml,	cci_cntrmk,	cci_cntdef,
	cci_creusr,	cci_updusr,	cci_credat,
	cast(cci_timstp as int) as cci_timstp,cci_sapshcusno
                                  

from CUCNTINF
 where
                                                                                                                                                                                                                                                                 

--cci_cocde = @cci_cocde and
cci_cusno = @cci_cusno and 
cci_cnttyp = 'S'
--added by Mark Lau 20061228, SAP Implementation
and cci_delete = 'N'
order by 
cci_cntdef desc,
cci_cntadr

end


GO
GRANT EXECUTE ON [dbo].[sp_select_CUCNTINF_SC] TO [ERPUSER] AS [dbo]
GO
